a {
    text-decoration: none;
}

.green-border:hover {
    border-bottom: 0.5px solid #3cb878;
}

body {
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    font-family: Verdana, 'sans-serif';
}

/*MODULES START*/

.container {
    width: 1210px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.space-content {
    justify-content: space-between;
}

.main-content-center {
    height: calc(100vh - 66px);
    align-items: center;
}

/*MODULES END*/

/*HEADER START*/

.header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 21px 0;
}

.header-logo-title {
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}

.header-logo-title:hover {
    color: #3cb878;
}

.header-icon-list {
    border-right: 1px solid;
    height: 20px;
    border-color: rgba(223,221,221, 0.1);
}

.header-icon-item {
    display: inline-block;
    margin-right: 25px;
    cursor: pointer;
}

.calendar-icon {
    width: 19px; height: 19px;
    background: url('../img/css_sprites.png') -106px -10px;
}

.calendar-icon:hover {
    background: url('../img/css_sprites.png') -106px -49px;
}

.forum-icon {
    width: 28px; height: 20px;
    background: url('../img/css_sprites.png') -58px -10px;
}

.forum-icon:hover {
    background: url('../img/css_sprites.png') -10px -10px;
}

.journey-icon {
    width: 20px; height: 20px;
    background: url('../img/css_sprites.png') -50px -50px;
}

.journey-icon:hover {
    background: url('../img/css_sprites.png') -10px -50px;
}

.header-login-title {
    color: #ffffff;
    margin-left: 24px;
}

/*HEADER END*/

/*MAIN START*/

.main-content {
    width: 444px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

.form-container {
    width: 324px;
    margin: 0 auto;
}

.form-title {
    padding: 29px 0 23px;
    position: relative;
}

.form-title-h2 {
    font-size: 20px;
}

.login {
    font-size: 14px;
    color: #3bb777;
    line-height: 24px;
}

.green-block {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3bb777;
    left: -60px;
}

.buffer-line {
    width: 160px;
    border: 0.5px solid #848484;
    opacity: 0.4;
}

.or {
    padding: 0 15px;
    color:  #848484;
    font-size: 14px;
}

.form-line {
    padding-bottom: 26px;
    padding-top: 25px;
}

.form-input-item {
    width: 280px;
    border-radius: 3px;
    background-color:  #ffffff;
    font-size: 14px;
    padding: 19px 22px 17px 17px;
    margin-bottom: 9px;
    border: 1px solid #eaeaea;
}

.form-input-item:nth-child(5) {
    margin-bottom: 22px;
}

.form-input-item:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    outline: none;
}

.terms-link {
    color:  #3cb878;
}

.agree-label {
    color: #434343;
    font-size: 14px;
    display: block;
    position: relative;
    padding: 2px 35px 12px 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-agree {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    bottom: 10px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}

.agree-label input:checked ~ .checkmark {
    background-color: #fff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.agree-label input:checked ~ .checkmark:after {
    display: block;
}

.agree-label .checkmark:after {
    left: 5px;
    top: 0;
    width: 4px;
    height: 9px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.accept-button {
    border-radius: 3px;
    background-color:  #3cb878;
    padding: 17px 102px;
    color:  #ffffff;
    font-size: 16px;
    border: 1px solid transparent;
    margin-top: 28px;
}

/*MAIN END*/

/*SOCIAL BUTTONS START*/

.loginBtn {
    box-sizing: border-box;
    position: relative;
    padding: 0 30px 0 72px;
    border: none;
    line-height: 46px;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    left: 0;
    width: 47px;
    height: 26px;
}

.loginBtn:focus {
    outline: none;
}

.facebook-position {
    padding: 0 21px 0 62px;
}

/* Facebook */
.loginBtn--facebook {
    background-color: #305db8;
    background-image: linear-gradient(#4C69BA, #3B55A0);
}

.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('../img/facebook.png') 20px 2px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}

/* Google */
.loginBtn--google {
    background: #df4a32;
}

.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('../img/google.png') 13px 5px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

.facebook-container {
    height: 46px;
}

/*SOCIAL BUTTONS END*/
